@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/cera-round-pro");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.photos {
  margin-bottom: 120px;
}
@media (min-width: 768px) {
  .photos {
    margin-bottom: 240px !important;
  }
}

a {
  text-decoration: none;
}

footer {
  position: relative;
  padding-top: 120px;
}

.footer-top__absolute {
  display: none;
  padding: 64px 0;
  position: absolute;
  top: -200px;
  left: 0;
  right: 0;
  z-index: 999;
  background: #bb2339;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
  border-radius: 20px;
}
@media (min-width: 768px) {
  .footer-top__absolute {
    display: block !important;
  }
}
.footer-top__absolute .footer-top__descript {
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.475rem;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #ffffff;
}
.footer-top__absolute .footer-top__heading {
  margin: 17px 0 25px;
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #ffffff;
}
.footer-top__absolute .footer-top__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 175%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-top__absolute form {
  margin-top: 64px;
}
.footer-top__absolute form input {
  width: 45%;
  padding: 12px 19px;
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 175%;
  background-color: transparent;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #aaaaaa;
  border: 1px solid rgba(245, 239, 219, 0.5);
  border-radius: 100px;
}
.footer-top__absolute form a {
  padding: 12px 32px;
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 100px;
}
.footer-top__absolute form a:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.footer {
  padding: 40px 0;
  background-color: #bb2339;
}
.footer-top {
  display: block;
  padding: 64px 0;
  background: #bb2339;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
  border-radius: 20px;
}
@media (min-width: 768px) {
  .footer-top {
    display: none !important;
  }
}
.footer-top__descript {
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.475rem;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #ffffff;
}
.footer-top__heading {
  margin: 17px 0 25px;
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #ffffff;
}
.footer-top__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 175%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-top form {
  margin-top: 64px;
}
.footer-top form input {
  width: 45%;
  padding: 12px 19px;
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 175%;
  background-color: transparent;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #aaaaaa;
  border: 1px solid rgba(245, 239, 219, 0.5);
  border-radius: 100px;
}
.footer-top form a {
  padding: 12px 32px;
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 100px;
}
.footer-top form a:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
.footer-bottom {
  padding: 100px 0 80px;
}
@media (min-width: 768px) {
  .footer-bottom {
    padding: 292px 0 80px !important;
  }
}
@media (min-width: 576px) {
  .footer-bottom {
    flex-wrap: nowrap !important;
  }
}
.footer-bottom h2 {
  margin-bottom: 24px;
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #ffffff;
}
.footer-bottom p {
  margin-bottom: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-bottom__contact .contact-address {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: 0.04em;
}
.footer-bottom__contact .footer-contact__tel a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: 0.04em;
}
.footer-bottom__logo .logo-text {
  max-width: 438px;
  margin: 32px 0 45px;
}
.footer-bottom__logo .bottom-logo__icon i {
  font-size: 24px;
}

header {
  background-color: #bb2339 !important;
}

.container-fluid::after,
.container::after,
aside::after,
footer::after,
header::after,
section::after,
.container-fluid::after,
.container::after,
aside::after,
footer::after,
header::after,
section::after {
  display: none;
  clear: both;
  content: "";
}

.dropdown-toggle::before {
  display: none;
}

.navbar-shrink {
  z-index: 99;
}
.navbar-shrink .navbar {
  padding: 5px 0;
  transition: 0.5s;
}
.navbar-shrink .bg-body-tertiary {
  box-shadow: 0 3px 3px 0 #d47575;
}

.bg-body-tertiary {
  background-color: #bb2339 !important;
}

.custom-droplink {
  transition: 0.3s;
}
.custom-droplink:hover, .custom-droplink:focus {
  color: #bb2339;
}

.custom-navlink {
  padding: 0 20px !important;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: 0.3s;
}
@media (max-width: 992px) {
  .custom-navlink {
    padding: 10px 0 !important;
  }
}
.custom-navlink:hover, .custom-navlink:focus {
  color: rgba(255, 255, 255, 0.7);
}

.navbar-btn {
  padding: 10px 40px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 175%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #ffffff;
}

.offcanvas {
  visibility: hidden;
  background-color: #bb2339;
}

.btn-close {
  color: #333333;
}
.btn-close:focus {
  box-shadow: 0 0 0 0.25rem rgba(59, 59, 59, 0.2509803922);
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem rgba(59, 59, 59, 0.2509803922);
}

#popular {
  padding: 120px 0;
  background-color: #f8f8f8;
}
#popular .owl-nav {
  display: none;
}
@media (min-width: 768px) {
  #popular .owl-nav {
    display: block;
  }
}
#popular .owl-theme .owl-nav {
  position: absolute;
  top: -65px;
  right: 0;
}
#popular .owl-carousel .owl-nav button.owl-next,
#popular .owl-carousel .owl-nav button.owl-prev {
  padding: 0px 15px !important;
  background: 0 0;
  color: #242424;
  border: 1px solid #bb2339;
  border-radius: 6px;
  font-size: 1.5625rem;
  transition: 0.3s;
}
#popular .owl-theme .owl-nav [class*=owl-]:hover {
  background: #bb2339;
  color: #fff;
  text-decoration: none;
}
#popular .owl-theme .owl-dots .owl-dot span {
  background: #aaaaaa;
  transition: 0.3s;
}
#popular .owl-theme .owl-dots {
  margin-top: 20px;
}
#popular .owl-theme .owl-dots .owl-dot.active span,
#popular .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #bb2339;
}
#popular .popular__heading {
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #bb2339;
  padding-bottom: 40px;
}
#popular .popular__card {
  padding: 20px 20px 40px 20px;
  background-color: #ffffff;
  background: #ffffff;
  border-radius: 14px;
}
#popular .popular__card-heading {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 25px;
  text-align: center;
  color: #242424;
}
#popular .popular__card-stars img {
  width: 20px;
  height: 20px;
}
#popular .popular__card-price {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 33px;
  text-align: center;
  color: #bb2339;
}

#regular {
  padding: 120px 0;
}
#regular .tabs-expand:not(.vertical):not(.bottom) ul.tabs-pills > li.active {
  font-weight: 500;
  border-radius: 100px;
  background: #bb2339;
}
#regular .tabs-expand:not(.vertical):not(.bottom) ul.tabs-pills > li.active a {
  color: #FFFFFF;
}
#regular .tabs-expand:not(.vertical):not(.bottom) ul.tabs-pills > li .tabs {
  border: 1px solid #bb2339;
  background-color: #E5E5E5;
  color: #242424;
}
#regular .tabs-expand:not(.vertical):not(.bottom) ul.tabs-pills > li {
  transition: 0.3s;
  background: #ffffff;
  border: 1px solid #bb2339;
  border-radius: 100px;
}
#regular .tabs-expand:not(.vertical):not(.bottom) ul.tabs-pills > li:hover {
  background: #bb2339;
}
#regular .tabs {
  background-color: transparent;
}
#regular .tabs > ul.tabs-list > li > a {
  white-space: nowrap;
  gap: 10px;
  padding: 10px 30px;
  color: #242424;
}
#regular .tabs-expand > ul.tabs-list {
  gap: 10px;
  display: grid !important;
  grid-template-columns: 1fr;
}
#regular .regular__heading {
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #bb2339;
  padding-bottom: 60px;
}
#regular .regular__cards {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px 20px;
}
#regular .regular__cards-card {
  padding: 20px 20px 40px 20px;
  background: #ffffff;
  border: 1px solid rgba(36, 36, 36, 0.1);
  border-radius: 14px;
}
#regular .regular__cards-card .regular__card-heading {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 25px;
  text-align: center;
  color: #242424;
}
#regular .regular__cards-card .regular__card-img {
  width: 100%;
}
#regular .regular__cards-card .regular__card-price {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 33px;
  text-align: center;
  color: #bb2339;
}

.border {
  border: none !important;
}

@media (min-width: 300px) {
  #regular .regular__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  #regular .tabs-expand > ul.tabs-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 450px) {
  #regular .regular__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 550px) {
  #regular .regular__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  #regular .tabs-expand > ul.tabs-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 992px) {
  #regular .regular__cards {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}
@media (min-width: 1250px) {
  #regular .tabs-expand > ul.tabs-list {
    grid-template-columns: repeat(8, 1fr);
  }
}
#Updatess {
  padding: 120px 0;
}
#Updatess .Updatess__content {
  margin-bottom: 60px;
}
#Updatess .Updatess__content-description {
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4375rem;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
}
#Updatess .Updatess__content-heading {
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #bb2339;
}
#Updatess .Updatess__cards {
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 35px 35px;
}
@media (min-width: 450px) {
  #Updatess .Updatess__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  #Updatess .Updatess__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
#Updatess .Updatess__cards-card {
  background: #ffffff;
  border: 1px solid rgba(36, 36, 36, 0.1);
  border-radius: 14px;
}
#Updatess .Updatess__cards-card .Updatess__card-content {
  padding: 20px 20px 30px 20px;
}
#Updatess .Updatess__cards-card .Updatess__card-content .Updatess__card-head {
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 32px;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
}
#Updatess .Updatess__cards-card .Updatess__card-content .Updatess__card-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #aaaaaa;
}
#Updatess .Updatess__cards-card .Updatess__card-content a {
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #bb2339;
}
#Updatess .Updatess__cards-card .Updatess__card-content a:hover {
  color: rgba(187, 35, 57, 0.5);
}
#Updatess .Updatess__cards-card .Updatess__card-content .Updatess__card-more .more-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 19px;
  color: rgba(36, 36, 36, 0.5);
}
#Updatess .Updatess-btn a {
  padding: 8px 32px;
  max-width: 149px;
  white-space: nowrap;
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 175%;
  letter-spacing: 0.04em;
  background-color: transparent;
  color: #242424;
  border: 1px solid #bb2339;
  border-radius: 100px;
}

#gallery {
  background-color: #F4F4F4;
}
#gallery .gallery {
  padding: 130px 0 130px;
  -moz-column-gap: 64px;
       column-gap: 64px;
}
#gallery .gallery__content {
  max-width: 491px !important;
}
#gallery .gallery__content-description {
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4375rem;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
}
#gallery .gallery__content-heading {
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #242424;
  font-feature-settings: "tnum" on, "lnum" on;
}
#gallery .gallery__content-text {
  max-width: 491px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #aaaaaa;
}
#gallery .gallery__content-btn {
  padding: 8px 32px;
  max-width: 149px;
  white-space: nowrap;
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 175%;
  letter-spacing: 0.04em;
  background-color: transparent;
  color: #242424;
  border: 1px solid #bb2339;
  border-radius: 100px;
}
#gallery .gallery__card .gallery__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: linear-gradient(207.55deg, rgba(0, 0, 0, 0.75) 1.5%, rgba(0, 0, 0, 0.64) 98.62%);
  border: 2px solid rgba(36, 36, 36, 0.2);
  border-radius: 14px;
  cursor: pointer;
}
#gallery .gallery__card .gallery__hover:hover {
  opacity: 1;
}
#gallery .gallery__card .gallery__hover .gallery__hover-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#gallery .gallery__card .gallery__hover .gallery__hover-icon i {
  font-size: 40px;
  color: white;
}
#gallery .gallery .owl-dots,
#gallery .gallery .owl-nav {
  display: none;
}

#main {
  padding: 153px 0 237px;
}
#main .main__left-smallheading {
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4375rem;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #ffffff;
}
#main .main__left-heading {
  margin: 25px 0 20px;
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 5.625rem;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #ffffff;
}
#main .main__left-text {
  margin-bottom: 40px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.7019607843);
}
#main .main__left-btn {
  padding: 8px 32px;
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 100px;
}
#main .main__right .main__right-img {
  max-width: none;
}
@media (max-width: 992px) {
  #main .main__right .main__right-img {
    width: 100%;
  }
}

#happy {
  padding: 100px 0 90px;
  background-color: #F4F4F4;
}
#happy .owl-theme .owl-nav {
  transition: 0.3s;
  display: none;
}
@media (min-width: 768px) {
  #happy .owl-theme .owl-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 0;
  }
}
#happy .owl-carousel .owl-nav button.owl-next,
#happy .owl-carousel .owl-nav button.owl-prev {
  margin-top: 20px;
  padding: 0px 15px !important;
  background: 0 0;
  color: #242424;
  border: 2px solid #646464;
  border-radius: 6px;
  font-size: 1.5625rem;
  transition: 0.3s;
}
#happy .owl-theme .owl-nav [class*=owl-]:hover {
  background: 0 0;
  color: 0 0;
  border: 2px solid #bb2339;
  text-decoration: none;
}
#happy .owl-theme .owl-dots .owl-dot span {
  background: #aaaaaa;
  transition: 0.3s;
}
#happy .owl-theme .owl-dots .owl-dot.active span {
  width: 16px;
  height: 2px;
}
#happy .owl-theme .owl-dots .owl-dot.active span,
#happy .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #242424;
}
#happy .owl-theme .owl-dots {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
@media (min-width: 600px) {
  #happy .owl-theme .owl-dots {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}
@media (min-width: 768px) {
  #happy .owl-theme .owl-dots {
    margin-top: 0;
  }
}
#happy .happy__content {
  margin-bottom: 60px;
}
#happy .happy__content-description {
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4375rem;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
}
#happy .happy__content-heading {
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #242424;
  font-feature-settings: "tnum" on, "lnum" on;
}
#happy .happy__card {
  background-color: #ffffff;
  padding: 30px 50px 30px 20px;
}
#happy .happy__card-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 26px;
  color: #333333;
}
#happy .happy__card-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 22px;
  color: rgba(51, 51, 51, 0.7019607843);
}
#happy .happy__card i {
  color: rgba(51, 51, 51, 0.7019607843);
}
#happy .happy__card .views__calendar-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 14px;
  color: rgba(51, 51, 51, 0.7);
}
#happy .happy__card .views__clock-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 14px;
  color: rgba(51, 51, 51, 0.7);
}
#happy .happy__card .views__view-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 14px;
  color: rgba(51, 51, 51, 0.7);
}

#video {
  margin-bottom: 120px !important;
  padding: 322px 0;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  background-image: url(../../images/home/video-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#video .video .btnssss {
  display: flex;
  align-items: center;
  justify-content: center;
}
#video .video .btn-primary {
  padding: 0 !important;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  --bs-btn-border-color: 0 0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: 0 0;
  --bs-btn-hover-border-color: 0 0;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: black;
  --bs-btn-active-border-color: #bb2339;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #bb2339;
  --bs-btn-disabled-border-color: #bb2339;
}
@media (min-width: 576px) {
  #video .video .modal-dialog {
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
}
#video .video .modal-dialog .modal-content {
  background-color: #bb2339;
}

@media (min-width: 992px) {
  .home__left,
.home__right {
    width: 50%;
  }
}
@media (min-width: 1300px) {
  .home__left {
    margin-right: 98px;
  }
}