@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

footer {
  position: relative;
  padding-top: 120px;
}

.footer-top__absolute {
  display: none;
  @media (min-width: 768px) {
    display: block !important;
  }
  padding: 64px 0;
  position: absolute;
  top: -200px;
  left: 0;
  right: 0;
  z-index: 999;
  background: $primary-color;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
  border-radius: 20px;
  .footer-top__descript {
    font-family: "Cera Round Pro", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.475rem;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: "tnum" on, "lnum" on;
    color: #ffffff;
  }
  .footer-top__heading {
    margin: 17px 0 25px;
    font-family: "Cera Round Pro", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    font-feature-settings: "tnum" on, "lnum" on;
    color: #ffffff;
  }
  .footer-top__text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 175%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
  }
  form {
    margin-top: 64px;
    input {
      width: 45%;
      padding: 12px 19px;
      font-family: "Cera Round Pro", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 175%;
      background-color: transparent;
      letter-spacing: 0.04em;
      text-transform: capitalize;
      font-feature-settings: "tnum" on, "lnum" on;
      color: #aaaaaa;
      border: 1px solid rgba(245, 239, 219, 0.5);
      border-radius: 100px;
    }
    a {
      padding: 12px 32px;
      font-family: "Cera Round Pro", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 1rem;
      line-height: 175%;
      letter-spacing: 0.04em;
      color: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 100px;
      &:hover {
        color: $nav-hover;
        text-decoration: none;
      }
    }
  }
}

.footer {
  padding: 40px 0;
  background-color: $primary-color;
  &-top {
    display: block;
    @media (min-width: 768px) {
      display: none !important;
    }
    padding: 64px 0;
    background: $primary-color;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
    border-radius: 20px;
    &__descript {
      font-family: "Cera Round Pro", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 1.475rem;
      line-height: 130%;
      letter-spacing: 0.04em;
      text-transform: capitalize;
      font-feature-settings: "tnum" on, "lnum" on;
      color: #ffffff;
    }
    &__heading {
      margin: 17px 0 25px;
      font-family: "Cera Round Pro", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 3rem;
      line-height: 130%;
      letter-spacing: 0.03em;
      text-transform: capitalize;
      font-feature-settings: "tnum" on, "lnum" on;
      color: #ffffff;
    }
    &__text {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 175%;
      text-align: center;
      letter-spacing: 0.04em;
      color: #ffffff;
    }
    form {
      margin-top: 64px;
      input {
        width: 45%;
        padding: 12px 19px;
        font-family: "Cera Round Pro", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 175%;
        background-color: transparent;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        font-feature-settings: "tnum" on, "lnum" on;
        color: #aaaaaa;
        border: 1px solid rgba(245, 239, 219, 0.5);
        border-radius: 100px;
      }
      a {
        padding: 12px 32px;
        font-family: "Cera Round Pro", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 100px;
        &:hover {
          color: $nav-hover;
          text-decoration: none;
        }
      }
    }
  }
  &-bottom {
    padding: 100px 0 80px;
    @media (min-width: 768px) {
      padding: 292px 0 80px !important;
    }
    @media (min-width: 576px) {
      flex-wrap: nowrap !important;
    }
    h2 {
      margin-bottom: 24px;
      font-family: "Cera Round Pro", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 2rem;
      line-height: 130%;
      letter-spacing: 0.04em;
      text-transform: capitalize;
      font-feature-settings: "tnum" on, "lnum" on;
      color: #ffffff;
    }
    p {
      margin-bottom: 10px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 26px;
      letter-spacing: 0.04em;

      color: #ffffff;
    }
    &__contact {
      .contact-address {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 26px;
        letter-spacing: 0.04em;
      }
      .footer-contact__tel {
        a {
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 1rem;
          line-height: 26px;
          letter-spacing: 0.04em;
        }
      }
    }
    &__logo {
      .logo-text {
        max-width: 438px;
        margin: 32px 0 45px;
      }
      .bottom-logo__icon {
        i {
          font-size: 24px;
        }
      }
    }
  }
}
