@use "../abstracts/variables" as *;

@mixin sectionpadding {
  padding: 120px 0;
}

@mixin headingpages {
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: $headingtwo-color;
}

@mixin activtext {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
}

@mixin btn {
  padding: 8px 32px;
  max-width: 149px;
  white-space: nowrap;
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: $fw-700;
  font-size: 1rem;
  line-height: 175%;
  letter-spacing: 0.04em;
  background-color: transparent;
  color: $headingtwo-color;
  border: 1px solid $primary-color;
  border-radius: 100px;
}

@mixin navbarbtn {
  padding: 10px 40px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: $fw-600;
  font-size: 1rem;
  line-height: 175%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #ffffff;
}

@mixin button {
  padding: 10px 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: $fw-600;
  font-size: 1rem;
  line-height: 175%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  border-radius: 100px;
}

@mixin btnactive {
  background: $primary-color;
  color: #ffffff;
}

@mixin btnactivetwo {
  background: #ffffff;
  color: $headingtwo-color;
}

@mixin headstyle {
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: $fw-500;
  font-size: 3rem;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: $headingtwo-color;
  font-feature-settings: "tnum" on, "lnum" on;
}

@mixin headstyletwo {
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: $fw-500;
  font-size: 3rem;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: $primary-color;
}

@mixin contentstyle {
  font-family: "Cera Round Pro", sans-serif;
  font-style: normal;
  font-weight: $fw-700;
  font-size: 1.4375rem;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: $headingtwo-color;
}

@mixin hstlyle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: $fw-600;
  font-size: 1.125rem;
  line-height: 25px;
  text-align: center;
  color: $headingtwo-color;
}

@mixin stylecardsprice {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: $fw-700;
  font-size: 1.5rem;
  line-height: 33px;
  text-align: center;
  color: $primary-color;
}

@mixin viewtext {
  font-family: "Roboto";
  font-style: normal;
  font-weight: $fw-400;
  font-size: 0.9rem;
  line-height: 14px;
  color: rgb(51, 51, 51, 0.7);
}
