$primary-color: #bb2339;
$body-color: #f8f8f8;
$regular-bodybg: #E5E5E5;   
$happy-bg: #F4F4F4;
$heading-color: #333333;
$headingtwo-color: #242424;
$text-color: #aaaaaa;
$content-color: #ffffffb3;
$trs: 0.3s;
$nav-hover: rgb(255, 255, 255, 0.7);
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
